In [58]:
import os
import json
import pandas as pd

In [59]:
os.listdir('experiment1')

['tweet_roberta_bow',
 'agnews_average_bow',
 'agnews_doc2vec_bow',
 '20news_average_bow',
 'agnews_mpnet_bow',
 '20news_doc2vec_bow',
 'agnews_roberta_bow',
 'tweet_doc2vec_bow',
 '20news_mpnet_bow',
 '20news_roberta_bow',
 '.ipynb_checkpoints',
 'tweet_mpnet_bow',
 'tweet_average_bow']

In [60]:
check_dir = 'experiment1/agnews_average_bow/default'

In [61]:
with open(os.path.join(check_dir, 'result.json'), 'r') as f:
    r = json.load(f)

In [62]:
r_dfs = None
for i in range(len(r)):
    r_df = pd.DataFrame(r[i])
    if r_dfs is None:
        r_dfs = r_df
    else:
        r_dfs += r_df
r_dfs /= len(r)
r_dfs

    epoch     precision    recall      f1_score
0     0.0  8.985895e-08  0.000013  1.780579e-07
1    10.0  8.357651e-01  0.378642  5.014461e-01
2    20.0  8.564387e-01  0.558750  6.601419e-01
3    30.0  8.597752e-01  0.628524  7.119916e-01
4    40.0  8.632220e-01  0.661246  7.356558e-01
5    50.0  8.695961e-01  0.673925  7.466071e-01
6    60.0  8.495141e-01  0.703909  7.580283e-01
7    70.0  8.611082e-01  0.701334  7.611130e-01
8    80.0  8.481469e-01  0.716424  7.651543e-01
9    90.0  8.480963e-01  0.718613  7.665080e-01
10   99.0  8.453038e-01  0.723849  7.685241e-01

In [54]:
check_dir = 'experiment/agnews_average_tf-idf/test'

In [55]:
with open(os.path.join(check_dir, 'result.json'), 'r') as f:
    r = json.load(f)

In [57]:
r_dfs = None
for i in range(len(r)):
    r_df = []
    epochs = []
    for j in range(len(r[i])):
        r_df.append(r[i][j]['test'])
        epochs.append(r[i][j]['epoch'])
    r_df = pd.DataFrame(r_df)
    if r_dfs is None:
        r_dfs = r_df
    else:
        r_dfs += r_df
r_dfs /= len(r)
r_dfs['epochs'] = epochs
r_dfs

,precision@5,precision@10,precision@15,ndcg@5,ndcg@10,ndcg@15,ndcg@all,semantic_precision@5,semantic_precision@10,semantic_precision@15,epochs
0,0.496140,0.369821,0.300506,0.434048,0.401076,0.402785,0.598121,NaN,NaN,NaN,0
1,0.949998,0.809231,0.648366,0.875244,0.851606,0.847214,0.914410,NaN,NaN,NaN,10
2,0.973725,0.867285,0.701169,0.899176,0.894228,0.892420,0.938234,0.977549,0.872587,0.705476,19