In [49]:
import os
import json
import pandas as pd

In [50]:
os.listdir('experiment')

['20news_bert_tf-idf',
 '20news_mpnet_keybert',
 '20news_mpnet_bow',
 '20news_average_tf-idf',
 '20news_mpnet_yake',
 '20news_doc2vec_tf-idf']

In [61]:
check_dir =  'experiment/20news_average_tf-idf/MSE'

In [62]:
with open(os.path.join(check_dir, 'result.json'), 'r') as f:
    r = json.load(f)

In [63]:
with open(os.path.join(check_dir, 'config.json'), 'r') as f:
    x = json.load(f)
x

{'dataset': '20news',
 'model_name': 'average',
 'label_type': 'tf-idf',
 'eval_f1': False,
 'criterion': 'MSE',
 'n_gram': 1,
 'n_time': 1,
 'save_dir': 'MSE',
 'preprocess_config_dir': 'parameters_baseline',
 'seed': 123,
 'experiment_dir': '20news_average_tf-idf'}

In [64]:
r_dfs = None
for i in range(len(r)):
    r_df = []
    epochs = []
    for j in range(len(r[i])):
        r_df.append(r[i][j]['test'])
        epochs.append(r[i][j]['epoch'])
    r_df = pd.DataFrame(r_df)
    if r_dfs is None:
        r_dfs = r_df
    else:
        r_dfs += r_df
r_dfs /= len(r)
r_dfs['epochs'] = epochs
r_dfs

,precision@5,precision@10,precision@15,ndcg@5,ndcg@10,ndcg@15,ndcg@all,semantic_precision@5,semantic_precision@10,semantic_precision@15,epochs
0,0.686340,0.579837,0.483877,0.147979,0.157076,0.162402,0.419427,NaN,NaN,NaN,0
1,0.832139,0.726153,0.647789,0.501178,0.489887,0.479975,0.664138,NaN,NaN,NaN,10
2,0.887850,0.793215,0.712170,0.578084,0.568440,0.558042,0.716814,NaN,NaN,NaN,20
3,0.901595,0.813172,0.733712,0.611243,0.601504,0.590748,0.738243,NaN,NaN,NaN,30
4,0.909741,0.821734,0.741669,0.620080,0.610888,0.600769,0.744663,NaN,NaN,NaN,40
5,0.912483,0.827234,0.748755,0.623945,0.616480,0.606055,0.748100,NaN,NaN,NaN,50
6,0.908105,0.823878,0.745631,0.621934,0.614147,0.603820,0.746902,NaN,NaN,NaN,60
7,0.908916,0.820279,0.741037,0.627819,0.619644,0.608800,0.749173,NaN,NaN,NaN,70
8,0.909776,0.825944,0.750260,0.624314,0.615447,0.604828,0.748109,NaN,NaN,NaN,80
9,0.911895,0.826169,0.747705,0.628158,0.619704,0.608969,0.750174,NaN,NaN,NaN,90
10,0.910356,0.824201,0.748110,0.630289,0.621458,0.610771,0.750743,NaN,NaN,NaN,100
11,0.911150,0.823490,0.742846,0.624277,0.616168,0.605861,0.748416,NaN,NaN,NaN,110
12,0.909601,0.827104,0.750488,0.627028,0.618374,0.608192,0.749385,NaN,NaN,NaN,120
13,0.905872,0.819335,0.741258,0.631529,0.622155,0.610541,0.751044,NaN,NaN,NaN,130
14,0.905420,0.818295,0.739287,0.631548,0.621408,0.609784,0.750489,NaN,NaN,NaN,140
15,0.912698,0.828177,0.750757,0.624878,0.617015,0.606921,0.748758,NaN,NaN,NaN,150
16,0.907789,0.821936,0.743960,0.629320,0.619826,0.608494,0.750069,NaN,NaN,NaN,160
17,0.911557,0.826461,0.746621,0.629072,0.620417,0.610262,0.750145,NaN,NaN,NaN,170
18,0.908070,0.822902,0.746459,0.628685,0.619511,0.608698,0.750022,NaN,NaN,NaN,180
19,0.906165,0.820113,0.744771,0.625573,0.615828,0.605540,0.748203,NaN,NaN,NaN,190
20,0.911330,0.825716,0.746592,0.628838,0.620128,0.609300,0.750083,0.919514,0.836843,0.76028,199

In [45]:
# r_dfs = None
# for i in range(len(r)):
#     r_df = pd.DataFrame(r[i])
#     if r_dfs is None:
#         r_dfs = r_df
#     else:
#         r_dfs += r_df
# r_dfs /= len(r)
# r_dfs